<!-- @#Feito fora do padrão por causa do lançamento-->
<div>    
    <table border="0" width="100%" class="tablePerfil">
        <caption style="text-align: left;"><b>[caption]</b></caption>
        <tr class="borderDark">
            <td id="dateTitle"><b>[titulo]</b></td>
            <td><b>UDH</b></td>
            <td><b>Menor UDH (Município)</b></td>
            <td><b>Maior UDH (Município)</b></td>
            <td><b>Menor UDH (RM)</b></td>
            <td><b>Maior UDH (RM)</b></td>
        </tr>
        <tr class="borderLight">
            <td id="dateTitle"><b>IDHM</b></td>
            <td>[IDHM_2010]</td>
            <td>[IDHM_2010_menor_UDH_mun]</td>
            <td>[IDHM_2010_maior_UDH_mun]</td>
            <td>[IDHM_2010_menor_UDH_rm]</td>
            <td>[IDHM_2010_maior_UDH_rm]</td>
        </tr>
        <tr class="borderLight">
            <td id="dateTitle"><b>IDHM Longevidade</b></td>
            <td>[IDHM_L_2010]</td>
            <td>[IDHM_L_2010_menor_UDH_mun]</td>
            <td>[IDHM_L_2010_maior_UDH_mun]</td>
            <td>[IDHM_L_2010_menor_UDH_rm]</td>
            <td>[IDHM_L_2010_maior_UDH_rm]</td>
        </tr>
        <tr class="borderLight">
            <td id="dateTitle"><b>IDHM Educação</b></td>
            <td>[IDHM_E_2010]</td>
            <td>[IDHM_E_2010_menor_UDH_mun]</td>
            <td>[IDHM_E_2010_maior_UDH_mun]</td>
            <td>[IDHM_E_2010_menor_UDH_rm]</td>
            <td>[IDHM_E_2010_maior_UDH_rm]</td>
        </tr>
        <tr class="borderLight">
            <td id="dateTitle"><b>IDHM Renda</b></td>
            <td>[IDHM_R_2010]</td>
            <td>[IDHM_R_2010_menor_UDH_mun]</td>
            <td>[IDHM_R_2010_maior_UDH_mun]</td>
            <td>[IDHM_R_2010_menor_UDH_rm]</td>
            <td>[IDHM_R_2010_maior_UDH_rm]</td>
        </tr>
    </table>  
</div><br><br>
<sub style="color:gray;">
    [fonte]</sub>
